<!-- app/views/shared/_erd.html.erb -->
<div class="erd">
    +------------+         +-------------+
    |  Category  |         |   Product   |
    +------------+         +-------------+
    | id         |  <----- | id          |
    | name       |  1    * | product_id  |
    | created_at |         | title       |
    | updated_at |         | image       |
    +------------+         | category_id |
                           | type        |
                           | price       |
                           | sale_price  |
                           | inventory   |
                           | created_at  |
                           | updated_at  |
                           +-------------+
</div>
