<h1>About</h1>
<h2>Describe Dataset</h2>
I am using a dataset that a friend provided. It contains an inventory of cards. I will be using the product, sku, title, image, type, price, sale price, inventory, and category. The csv dataset will be used for both the product and category tables. The Product and Category databases will be connected as a one-to-many relationship; one category can have many products.
<br><br>

<h2>Database ERD</h2>
<%= render 'shared/erd' %>

